<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>

    <div class="container">
        <header>
            <div class="logo">
                <a href="#">Travée</a>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Explore</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Vouchers</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="container">
        <div class="buy-voucher">
            <h1>/Nama umkm/</h1>
            <h3>detail voucher</h3>
            <h4>harga voucher Travée Points</h4>
            <button>Buy this voucher</button>
        </div>
    </div>
</head>

<body>

</body>

</html>