<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="#">Travée</a>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Explore</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Vouchers</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="profile-title">
        <h2>My Profile</h2>
    </div>

    <div class="container">
        <div class="profile-top">
            <div class="profile-top-left">
                <div class="profile-textbox">
                    <h4>Username</h4>
                    <p>Lorem ipsum</p>
                </div>
                <div class="profile-textbox">
                    <h4>Name</h4>
                    <p>Lorem ipsum</p>
                </div>
                <div class="profile-textbox">
                    <h4>Email Address</h4>
                    <p>Lorem ipsum</p>
                </div>
            </div>
            <div class="profile-top-right">
                <div class="profile-textbox">
                    <h4>Country</h4>
                    <p>Lorem ipsum</p>
                </div>
                <div class="profile-textbox">
                    <h4>City</h4>
                    <p>Lorem ipsum</p>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-title">
        <h2>My Business</h2>
    </div>

    <div class="container">
        <div class="profile-top">
            <div class="profile-top-left">
                <div class="profile-textbox">
                    <h4>Name</h4>
                    <p>Lorem ipsum</p>
                </div>
                <div class="profile-textbox">
                    <h4>Local Protocol</h4>
                    <p>Lorem ipsumLorem ipsum</p>
                </div>

            </div>
            <div class="profile-top-right">
                <div class="profile-textbox">
                    <h4>Location</h4>
                    <p>Lorem ipsum</p>
                </div>
                <div class="profile-textbox">
                    <h4>Goverment Protocols</h4>
                    <p>Lorem ipsumLoremipsum</p>
                </div>
            </div>
        </div>
    </div>

    <div class="register-business">
        <button>Register my business</button>
        <button>Create voucher</button>
    </div>






</body>

</html>