<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title>Document</title>
    </head>

    <body>
        <div class="container">
            <header>
                <div class="logo">
                    <a href="#">Travée</a>
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Explore</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Vouchers</a></li>
                        <li><a href="#">Profile</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="login">
            <div class="container">
                <div class="login-form">
                    <h1>/create.voucher/</h1>
                    <input type="text" placeholder="Description" />
                    <input type="text" placeholder="Price (Travée Points)" />
                    <button class="login-btn">Create Voucher</button>
                </div>
            </div>
        </div>
    </body>
</html>
