<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="#">Travée</a>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Explore</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Vouchers</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="login business-form">
        <div class="container">
            <div class="login-form">
                <h1>/register.business/</h1>
                <input type="text" placeholder="Business name" />
                <input type="text" placeholder="Location" />
                <h2>Goverment protocols:</h2>
                <textarea name="gov-prot" cols="45" rows="5"></textarea>
                <h2>Local protocols:</h2>
                <textarea name="gov-prot" cols="45" rows="5"></textarea>

                <button class="login-btn">Register business</button>
            </div>
        </div>
    </div>


</body>

</html>