<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container">
            <header>
                <div class="logo">
                    <a href="#">Travée</a>
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Explore</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Vouchers</a></li>
                        <li><a href="#">Profile</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="login">
            <div class="container">
                <div class="login-form">
                    <h1>/sign.in/</h1>
                    <input type="text" placeholder="Email address" />
                    <input type="password" placeholder="Password" />
                    <div class="login-opt">
                        <a href="#">Forgot password</a>
                        <a href="#">Sign up here</a>
                    </div>
                    <button class="login-btn">Login</button>
                </div>
            </div>
        </div>
    </body>
</html>
