<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <header>
            <div class="logo">
                <a href="#">Travée</a>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Explore</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Vouchers</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="register">
        <div class="container">
            <div class="login-form">
                <h1>/sign.up/</h1>
                <input type="text" placeholder="Fullname">
                <input type="text" placeholder="Email address">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm password">
                <div class="login-opt">
                    <a href="#">Already have an account ?</a>
                </div>
                <button class="login-btn">Login</button>
            </div>
        </div>
    </div>
</body>

</html>