@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&display=swap");

body {
    margin: 0;
    font-family: "IM Fell French Canon";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    padding: 1.5em 5em;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 1em;
    font-style: italic;
}

.hero .container {
    display: flex;
    justify-content: center;
    background-image: url("../img/leafgreenbar-main.png");
    background-repeat: no-repeat;
    background-position-y: 10em;
}

.left-hero img {
    width: 14em;
}

.right-hero {
    width: 25%;
    height: 3em;
    margin-left: 6em;
    padding-top: 0.1em;
}

.right-hero h1 {
    font-size: 3em;
    font-weight: normal;
}

.right-hero p {
    font-size: 1.2em;
}

.right-hero input {
    width: 100%;
    font-family: "IM Fell French Canon";
    padding: 1em;
    border-radius: 0.2em;
    border: black solid 1.5px;
    font-size: 1.1em;
}

.main-scroll {
    margin-bottom: 5em;
}

.main-scroll h2 {
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 0.5em;
}

.main-scroll .item {
    background: url("../img/sample1.jpg");
    background-size: 100%;
    border-radius: 0.2em;
    padding-top: 5em;
    min-width: 15em;
    margin-bottom: 1em;
    padding-bottom: 0.1em;
    margin-right: 1em;
}

.main-scroll .item a {
    color: white;
    font-size: 1.4em;
    padding-top: 0.3em;
}

.main-scroll .item p {
    color: white;
    margin-top: 0;
    padding-bottom: 0.3em;
}

.main-scroll .item-text {
    margin-left: 1em;
    background: rgb(143, 143, 143, 0.7);
    width: 70%;
}

.main-scroll .items-container {
    display: flex;
    overflow-x: auto;
}

.main-scroll .items-container::-webkit-scrollbar {
    width: 5em;
}

.main-scroll .items-container::-webkit-scrollbar-track {
    background-color: #83f7ae;
    border-radius: 0.3em;
}

.main-scroll .items-container::-webkit-scrollbar-thumb {
    background: #50bf79;
    border-radius: 0.3em;
}

.main-1 {
    background: url("../img/background-main-scroll-secondpart.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.main-2 {
    background: url("../img/background-main-scroll-thirdpart.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}
